#include <windows.h>

1000 DIALOG DISCARDABLE  20, 10, 55, 71
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Flanger"
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "",-1,5,4,45,60
    CONTROL         "On",10,"Button",BS_AUTOCHECKBOX | BS_LEFTTEXT | 
                    WS_TABSTOP,10,4,25,10
    LTEXT           "speed",-1,10,33,19,8
    CONTROL         "",11,"msctls_trackbar32",TBS_VERT | TBS_TOP | 
                    TBS_NOTICKS | WS_TABSTOP,33,14,12,48
END
